html
  script(src='/processing/processing.js')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Frequency Simulator 

    link(href='/stylesheets/style.css', rel='stylesheet')

  body
    h1 Frequency Simulator
    #container
      canvas(data-processing-sources='/processing/wave.pde',width='800', height='500')
    p#footer
      | Created by Marcello, Juan José, Jostin
      