html
  script(src='/processing/processing.js')
  script(src='processing/p5.min.js')
  script(src='processing/p5.dom.min.js')
  script(src='processing/p5.sound.min.js')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Frequency Simulator

    link(href='/stylesheets/style.css', rel='stylesheet')

  body
    h1 Ripple-like Wave
    #container
      canvas(data-processing-sources='/processing/ripple.pde /processing/wave.pde',width='800', height='500')
    p#footer
      | Creado por Marcello, Juan José, Jostin
