body {
	background: #000;
	color: #aaa;
	font-family: Helvetica, sans-serif;
}

 h1 {
	font-size: 2.5em;
	margin: 0;
	margin-top: .5em;
	text-align: center;
	color: #eee;
	font-weight: bold;
}

#container {
	margin: 0 auto;
	width: 850px;
	text-align: right;
	position: relative;
}

p {
	margin: 0;
}

#caption {
	font-size: 1.7em;
	width: 2000px;
	float: right;
}
a {
	color: inherit;
	text-decoration: underline;
}
#scale {
	position: absolute;
	left: 625px;
	bottom: 40px;
}
#footer {
	position: absolute;
	bottom: 1em;
	right: 1em;
	font-size: 12px;
	text-align: right;
}
#footer a {
	color: #eee;
}



